<html>
	<head>		
	<title>Guide-Info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
		<!--Favicon : top header icon with title -->
		<!--Favicon : top header icon with title -->
		<link rel="icon" href="coding freaks.jpg" type="image/jpg" sizes="16x16">
		<!-- Not Working -->
		
	</head>
	
	<body>
	<h1 align="center"><u>GUIDE INFORMATION</u></h1>
	<div class="container-fluid" style="padding:0px;margin-top:20px">
			<div class="col-lg-12 col-md-12" style="background:orange;padding:20px">
				<div class="col-lg-offset-1 col-lg-2 col-md-3" id="about">
					<br/><br/><br/>
					<img src="B:\I-Birds College\bootstrap\coding freaks.jpg" class="img-responsive"/>
				</div>
				<div class="col-lg-9 col-md-9">
					<br/><br/><br/>
					
					<p style="font-family:calibri;color:white;font-size:45px"><b>Akshat Jain</b></p>
					<p style="font-family:calibri;color:white;font-size:25px">Mob : 9530234097<br>E-Mail : akshatjainajm@gmail.com<br>Languages Known : English,French, Sweden,Bengali<br>
					Experience : 3 years <br>
					</p>
				</div>
			</div>
		</div>
	
	</body>
</html>