<html>
	<head>
		<title>Sign Up</title>
		<style>
			.form
			{
				background:cyan;
				height:100%;
				padding:90px
			}
			
			body
			{
				margin:0px
			}
			
			td
			{
				font-family:arial
			}
			
			.color
			{
				background-color:008B8B;
				padding:10px;
				font-size:15px;
				color:white;
				border-radius:3%;
				border:none
			}
			
			input
			{
				padding:5px
			}
		</style>
	</head>
	<body>
		<div class="form">
			<form autocomplete="off">
				<table align="center" bgcolor="white" cellspacing="15px">
					<tr>
						<th colspan="2"><font face="arial" size="6%">Sign Up</font></th>
					</tr>
					
					<tr>
						<td><b>FIRST NAME</b></td>
						<td><b>LAST NAME</b></td>
					</tr>
					
					<tr>
						<td><input type="text" name="fname" size="20%"/></td>
						<td><input type="text" name="lname" size="20%"/></td>
					</tr>
					
					<tr>
						<td colspan="2"><b>EMAIL</b></td>
					</tr>
					
					<tr>
						<td colspan="2"><input type="email" name="emailid" size="49%" required/></td>
					</tr>
					
					<tr>
						<td colspan="2"><b>PASSWORD</b></td>
					</tr>
					
					<tr>
						<td colspan="2"><input type="password" name="pass" size="49%" required/></td>
					</tr>
					
					<tr>
						<td colspan="2" align="center"><input class="color" type="submit" value="CREATE ACCOUNT"/></td>
					</tr>
					
					<tr>
						<td colspan="2" align="center"><a href="#" style="text-decoration:none;color:gray;font-size:75%">Already have an account?</a></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>